.custom-switch {
    display: inline-flex;
    align-items: center;
    position: relative;
  
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  
    .slider {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
      background-color: #ccc;
      border-radius: 34px;
      transition: 0.4s;
  
      &::before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        border-radius: 50%;
        transition: 0.4s;
      }
    }
  
    input:checked + .slider {
      background-color: #0d6efd;
  
      &::before {
        transform: translateX(20px);
      }
    }
  
    .custom-switch-label {
      margin-left: 8px;
    }
  }
  